{% extends "blog/base.html" %}
{% block content%}

<div class="card border-secondary shadow">

    <div class="card-header text-center">
        <div class="article article-text ">
            <h1 class="text-secondary text-center">לוח שנה</h1>
        </div>
    </div>
    <div class="card-body text-secondary article-text pt-3 text-center">
      <!-- Responsive calendar - START -->
      <div class="responsive-calendar" dir="rtl">
        <div class="controls">
            <a class="pull-left" href="{% url 'calendar:calendar' %}?{{ prev_month }}"><div class="btn btn-secondary text-center">&laquo;</div></a>
            <h4><span data-head-month>{{ month }}</span> <span data-head-year>  {{ year }}   </span></h4>
            <a class="pull-right" href="{% url 'calendar:calendar' %}?{{ next_month }}"><div class="btn btn-secondary text-center">&raquo;</div></a>
          </div>
        <hr/>
        <div>
          {{ calendar }}
        </div>
        <div class="controls">
          <a class="pull-left" href="{% url 'calendar:calendar_new_treatment' %}"><div class="btn btn-warning text-center">הזמנת טיפול</div></a>
          </div>  
      </div>
      <!-- Responsive calendar - END -->
    </div>
</div>
<div>&nbsp;</div>





{% endblock content%}