{% extends "blog/base.html" %}
{% block content%}
<div dir="rtl">

    <div class="article article-text text-center">
        <a class="btn btn-outline-warning shadow p-2" href="{% url 'home' %}" role="button">חזרה לעמוד הראשי
            &raquo;</a>
    </div>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
{% endblock content%}