{% load static %}
<!DOCTYPE html>
<html dir=rtl>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/calendar.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Secular+One&display=swap" rel="stylesheet">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body background="{% static 'blog/images/bg.jpeg' %}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">

            <button type="button" id="sidebarCollapse" class="sidebarButton nav-item btn btn-outline-secondary">
                <i class="fas fa-align-justify"></i>
                <span></span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">

                    {% if user.is_superuser %}
                    <li class="nav-item btn btn-secondary btn-light">
                        <a href="{% url 'admin:index' %}">
                            <i class="fas fa-users-cog"></i>
                            פאנל ניהול
                        </a>
                    </li>
                    <li class="nav-item btn btn-secondary btn-light">
                        <a href="{% url 'post-create' %}">
                            <i class="fas fa-envelope"></i>
                            הודעה חדשה
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item btn btn-secondary btn-light">
                        <a href="{% url 'profile' %}">
                            <i class="fas fa-user-circle"></i>
                            פרופיל
                        </a>
                    </li>
                    <li class="nav-item btn btn-secondary btn-light">
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            התנתק
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item btn btn-secondary btn-light">
                        <a href="{% url 'login' %}">
                            <i class="fas fa-user-check"></i>
                            התחבר
                        </a>
                    </li>
                    <li class="nav-item btn btn-secondary btn-light">
                        <a href="{% url 'register' %}">
                            <i class="fas fa-user-plus"></i>
                            הירשם
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>



    <div class="wrapper">


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header underline">
                <h3>Nails Nails</h3>
                <strong>NN</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{% url 'home' %}">
                        <i class="fas fa-home"></i>
                        ראשי
                    </a>

                </li>
                <li>
                    <a href="{% url 'calendar:calendar' %}">
                        <i class="fas fa-briefcase"></i>
                        לוח שנה
                    </a>

                <li>
                    <a href="{% url 'about' %}">
                        <i class="fas fa-user"></i>
                        עלינו
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">
                        <i class="fas fa-paper-plane"></i>
                        צור קשר
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <!-- Page Content  -->
            <main role="main">
                <div class="col-md-8 text-center ">
                    {% if messages %}
                    {% for message in messages %}

                    <div class="card border-secondary col-mb-ml-auto pb-auto shadow center">
                        <div class="card-header">
                            <div class="article article-text">
                                <h3 class="text-secondary text-center">{{ message }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pb-2"></div>
                    {% endfor %}
                    {% endif %}
                    
                </div>
            </main>
        </div>


        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>

</html>